
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a ui-sref="app.apps.list" href="#">Apps</a></li>
      <li><a ui-sref="app.users.list" href="#">Users</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-click="remove()" href="">Delete Account</a></li>
      <li><a ng-click="logout()" href="">Log out</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>Deis Control Panel</h1>
  </div>

  <div ui-view="content"></div>
</div>
