
<div class="panel panel-default">

  <div class="panel-heading">
    Users <a ui-sref="app.users.add" href="#"><span class="pull-right glyphicon glyphicon-plus"></span></a>
  </div>

  <div class="panel-body" ng-init="">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>
</div>
