</br>
<form class="form-group">
  <div class="input-group">
    <span class="input-group-addon">Option</span>
    <input type="text" placeholder="option" class="form-control" ng-model="option">
  </div>
  </br>
  <div class="input-group">
    <span class="input-group-addon">Key</span>
    <input type="text" placeholder="value" class="form-control" ng-model="key">
  </div>
  </br>
  <div class="input-group">
    <span class="input-group-addon">Value</span>
    <input type="text" placeholder="value" class="form-control" ng-model="value">
  </div>
</form>
<button class="btn btn-primary" ng-click="add(option, key, value)">Add</button>
