<div class="input-group" ng-init="listTypes()">
  <div class="col-md-12">
    <div class="col-md-3">
      <div ng-repeat="type in types">
        <input type="radio" name="type" ng-model="$parent.scaleType" ng-value="type"> {{type}}
      </div>
    </div>
    <div class="col-md-6">
      <input type="number" ng-model="scaling" class="form-control">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" ng-click="scale(scaleType, scaling)">Scale</button>
    </div>
  </div>
  </div>
</div>
