<div class="panel panel-default">

  <div class="panel-heading">

    <a href="" ui-sref="app.apps.app.dashboard({ id: id })"><h4>{{ id }}</h4></a>
    <a ui-sref="app.apps.list" href="">Back to list</a>

  </div>

  <div class="panel-body" ng-init="appContDetail(id)">

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-remove"></span></a></li>
        <li><a ui-sref="app.apps.app.logs({ id: id})" href="#">Logs</a></li>
        <li><a ui-sref="app.apps.app.rollback({id:id})" href="#">Rolback</a></li>
        <li><a ui-sref="app.apps.app.scale({id:id})" href="#">Scale</a></li>
      </ul>
    </nav>

    <div ui-view="subsubcontent"></div>

  </div>

</div>
