<div class="panel panel-default">

  <div class="panel-heading">

    <span class="h4"><a href="" ui-sref="app.apps.app.dashboard({ id: id })">{{ id }}</a></span>
    <span class="pull-right"><a ui-sref="app.apps.list" href="">Back to list</a></span>

  </div>

  <div class="panel-body">

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a ng-click="remove()" href="#"><span class="glyphicon glyphicon-remove"></span></a></li>
        <li><a ui-sref="app.apps.app.logs({ id: id})" href="#">Logs</a></li>
        <li><a ui-sref="app.apps.app.rollback({id:id})" href="#">Rollback</a></li>
        <li><a ui-sref="app.apps.app.scale({id:id})" href="#">Scale</a></li>
        <li><a ui-sref="app.apps.app.config({id:id})" href="#">Config</a></li>
        <li><a ui-sref="app.apps.app.perms({id:id})" href="#">Permissions</a></li>
        <li><a ui-sref="app.apps.app.domains({id:id})" href="#">Domains</a></li>
        <li><a ui-sref="app.apps.app.command({id:id})" href="#">Command</a></li>
      </ul>
    </nav>

    <div ui-view="subsubcontent"></div>

  </div>

</div>
