
<div class="panel panel-default">

  <div class="panel-heading">
    Apps
  </div>

  <div class="panel-body" ng-init="listAll()">
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Owner</th>
        <th>Url</th>
        <th>Info</th>
      </tr>
      <tr ng-repeat="app in apps">
        <td>{{ app.id }}</td>
        <td>{{ app.created }}</td>
        <td>{{ app.updated }}</td>
        <td>{{ app.owner }}</td>
        <td>{{ app.url }}</td>
        <td><a ui-sref="app.apps.app.dashboard({ id: app.id})"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    </table>
  </div>
</div>
