<div class="panel panel-default" ng-init="list()">
  <div class="panel-heading">
    Keys <a ui-sref="app.keys.add" href="#"><span class="pull-right glyphicon glyphicon-plus"></span></a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Owner</th>
        <th>Id</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="key in keys">
        <td>{{ key.owner }}</td>
        <td>{{ key.id }}</td>
        <td>{{ key.created }}</td>
        <td>{{ key.updated }}</td>
        <td><button class="btn btn-danger" ng-click="remove(key.id)">remove</button></td>
      </tr>
    </table>
  </div>
</div>
